{% extends 'base.html.twig' %}

{% block title %}
    Aufgabe
{% endblock %}

{% block page_heading %}
    <h1 class="m-0 text-dark">Aufgabe erstellen</h1>
    <small>Erstellen Sie hier eine neue regelmäßige Aufgabe</small>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_widget(form) }}
                </div>
                <div class="card-footer">
                    <input type="submit" value="Aufgabe erstellen" class="btn btn-primary">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#{{ form.description.vars.id }}').summernote({
                height: 300,
            });
        });
    </script>
{% endblock %}