# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> docker specific ###
DOCKER_WEB_PORT=80
DOCKER_VIRTUAL_HOST=localhost
DOCKER_MYSQL_ALLOW_EMPTY_PASSWORD="yes"
DOCKER_XDEBUG_CONFIG=remote_host=host.docker.internal
DOCKER_PHP_IDE_CONFIG=serverName=localhost
DOCKER_DB_PORT=3306
###< docker specific ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=90499cfe8075cc1c36a6c8aee04af86c
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://julian.gebker@simple-student.de:pass@simple-student.de
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=76c4b76ac2edfd5507fb2f0724276a5f
###< lexik/jwt-authentication-bundle ###
