<html lang="de">
    <body>
        <p>Du hast erfolgreich ein Benutzerkonto bei HomeJobs angelegt.</p>
        <p>Dein Konto kannst du <a href="{{ url }}">hier</a> aktivieren. Anschließend kannst du dich einloggen!</p>
        <p>Mit freundlichen Grüßen</p>
        <p>Dein HomeJobs Team</p>
    </body>
</html>