<html lang="de">
    <body>
        <p>Du wurdest zu einer Gruppe bei HomeJobs eingeladen!</p>
        <p>Deine Einladung kannst du <a href="{{ url }}">hier</a> annehmen.</p>
        <p>Mit freundlichen Grüßen</p>
        <p>Dein HomeJobs Team</p>
    </body>
</html>